@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* ----------------------------------- GENERALE -----------------------------------  */

body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif;
  height: 100vh;
}

header {
  padding-inline: 125px;
  padding-top: 40px;
}

header img {
  width: 150px;
}

main {
  text-align: center;
  color: #dadae0;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Outfit", sans-serif;
}

h1 {
  color: white;
  font-size: 5.5rem;
  line-height: 0.8;
  margin-bottom: 55px;
}

strong {
  font-weight: bold;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.2rem;
}

.hidden {
  display: block;
}

.inline-block {
  display: inline-block;
}

/* ----------------------------------- INIZIO WELCOME STYLE -----------------------------------  */

#welcome {
  text-align: left;
  max-width: 960px;
  margin-inline: auto;
  margin-top: 120px;
}

#welcome h1 {
  max-width: 50%;
}

#welcome h3 {
  color: #d20094;
  font-weight: 600;
  margin-bottom: 15px;
}

#welcome p,
#welcome ul,
#welcome label {
  font-size: 19px;
}

#welcome p {
  margin-bottom: 55px;
  max-width: 600px;
  line-height: 1.3;
}

.instrucrion-list {
  padding-left: 30px;
}

#welcome ul {
  line-height: 1.6;
  margin-bottom: 50px;

}

#welcome form * {
  display: inline-block;
}

#welcome .cont-range {
  margin-bottom: 50px;
  width: 700px;
  text-align: left;
}


.cont-range input#rangeValue {
  display: block;
  appearance: none;
  width: 500px;
  height: 6px;
  border-radius: 10px;
  border: 1px solid white;
  outline: none;
  box-shadow: 0 1px 3px white;
}





.cont-range ul li:not(.cont-range u li:last-child) {
  display: inline-block;
  padding-right: 170px;
}

/* ----------------------------------- PERSONALIZZAZIONE DEL CHECKBOX -----------------------------------  */

/* Nascondi il box di default */
#welcome form input {
  display: none;
}

/* Stile personalizzato del checkbox */
#welcome form input+label {
  position: relative;
  top: 20px;
  padding-left: 35px;
  cursor: pointer;
}

/* Stile del segno di spunta quando il checkbox è selezionato */
#welcome form input+label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  background-color: transparent;
}

/* Stile del segno di spunta quando il checkbox è selezionato */
#welcome form input:checked+label::before {
  background-color: #00ffff;
  box-shadow: 0px 0px 20px 4px #53e0e0;
  border: none;
}

/* ----------------------------------- FINE PERSONALIZZAZIONE DEL CHECKBOX -----------------------------------  */

#proceed {
  float: right;
  background-color: transparent;
  box-shadow: 0px 0px 11px 3px #00626a;
  border: 3px solid white;
  color: white;
  padding-inline: 55px;
  padding-block: 16px;
  font-size: 1.4rem;
  font-weight: 800;
  font-family: 'Outfit', sans-serif;
}

#proceed.proceed-checked {
  background-color: #00ffff;
  color: black;
  box-shadow: 0px 0px 20px 4px #53e0e0;
  border: none;
  cursor: pointer;
}

/* ----------------------------------- FINE WELCOME STYLE -----------------------------------  */

/* commento inutile */

/* ----------------------------------- INIZIO EXAM STYLE -----------------------------------  */

#countdown {
  float: right;
  /* border: 12px solid #00ffff; */
  /* border-radius: 50%; */
  width: 120px;
  height: 120px;
  color: white;
  text-align: center;
  font-family: "Outfit", sans-serif;
  display: none;
}

header svg {
  width: 120px;
  height: 120px;
}

header circle {
  stroke: #969696;
  stroke-width: 16;
  stroke-dasharray: 376.8;
  fill: transparent;
  /* transform-origin: top; */
}

header circle+circle {
  transform: rotate(90deg) scaleX(-1);
  transform-origin: 50%;
  stroke: #d20094;
  stroke-width: 16;
  stroke-dasharray: 376.8 0;
  stroke-linecap: round;
  transition: stroke-dasharray 2s;
}

#countdown-text {
  position: absolute;
  margin: 13px 39px;
  /* top: 50px;
  left: 50px; */
}

#countdown-text p:first-child {
  font-size: 0.5rem;
  /* font-weight: bold; */
  padding-top: 20px;
}

#countdown-text p:nth-child(2) {
  font-size: 2.4rem;
  /* font-weight: 500; */
}

#countdown-text p:last-child {
  font-size: 0.5rem;
}


#exam {
  text-align: center;
  margin-top: 135px;
  max-width: 900px;
  margin-inline: auto;
  display: none;
}

.exam-form-padding-top {
  padding-top: 60px;
}

.padding-top {
  padding-top: 30px;
}

#domanda {
  min-height: 300px;
  display: table;
  width: 100%;
}

#domanda h2 {
  display: table-cell;
  vertical-align: middle;
}

#exam h2 {
  margin-inline: auto;
}

#exam button {
  border: 2px solid grey;
  background-color: transparent;
  font-size: 1rem;
  width: 340px;
  min-height: 70px;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.05);
  color: white;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  margin: 0 20px 20px;
}

#exam .container-buttons button:hover {
  background-color: #8e0665;
  cursor: pointer;
}

#exam button.button-clicked {
  background-color: #d20094;
}

#exam p {
  display: inline-block;
}

.container-buttons {
  max-width: 800px;
  margin: 0 auto;
}

.form-footer {
  text-align: left;
}

#exam p,
button#avanti {
  position: absolute;
  bottom: 100px;
}

.form-footer p {
  padding-top: 30px;
  left: 125px
}

button#avanti {
  margin: 0;
  border-radius: 0;
  width: 200px;
  min-height: 50px;
  right: 125px;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 0px 0px 11px 3px #00626a;
  border: 3px solid white;
  color: white;
  padding-inline: 55px;
  padding-block: 16px;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: 'Outfit', sans-serif;
}

#exam p,
button#avanti {
  bottom: 100px;
}

button#avanti.selected-avanti {
  background-color: #00ffff;
  color: black;
  box-shadow: 0px 0px 20px 4px #53e0e0;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* ----------------------------------- FINE EXAM STYLE -----------------------------------  */

/* ----------------------------------- INIZIO RESULT STYLE -----------------------------------  */

#results {
  text-align: center;
  display: none;
  max-width: 940px;
  margin-inline: auto;
  margin-top: 90px;
  vertical-align: middle;
}

#results h2 {
  margin-bottom: 5px;
}

.cont-results {
  margin-top: 50px;
}

.result-grafic {
  width: 400px;
  height: 500px;
  color: white;
  text-align: center;
  display: inline-block;
  vertical-align: sub;
  margin-inline: 50px;
  vertical-align: middle;
}

.result-grafic svg {
  stroke: #C2128D;
  width: 400px;
  height: 400px;
}

.result-grafic circle {
  stroke-width: 60;
  stroke-dasharray: 1004.8;
  fill: transparent;
  /* transform-origin: top; */
}

.result-grafic circle+circle {
  transform: rotate(90deg) scaleX(-1);
  transform-origin: 50%;
  stroke: #00FFFF;
  stroke-width: 61;
  stroke-dasharray: 1004.8;
}

.result-grafic circle+circle {
  stroke-dasharray: 702.4 1004.8;
}

.resutGrafic-text {
  position: absolute;
  margin-top: 130px;
  margin-left: 100px;
}

.resutGrafic-text p {
  max-width: 200px;
}

.exam-not-approved {
  padding-top: 85px;
  padding-inline: 50px;
}

.answer-result {
  max-width: 200px;
  display: inline-block;
}

.corrects-result {
  text-align: left;
}

.wrongs-result {
  text-align: right;
}

#results button {
  width: 220px;
  height: 60px;
  background-color: transparent;
  border: 3px solid white;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: 0px 0px 11px 3px #00626a;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
}

/* ----------------------------------- FINE RESULT STYLE -----------------------------------  */

/* ----------------------------------- INIZIO FEEDBACK STYLE -----------------------------------  */
#results button:hover {
  background-color: #00FFFF;
  box-shadow: 0px 0px 20px 4px #53e0e0;
  color: black;
  border: none;
}

#result,
#feedback {
  font-family: "Outfit", sans-serif;
  text-align: center;
}

#feedback #img-stelle img {
  filter: grayscale(100%) brightness(20%);
}

#feedback-main {
  margin-top: 175px
}

#feedback h2 {
  margin-bottom: 25px;
  font-weight: bold;
}

#feedback p {
  font-size: 1.8rem;
  max-width: 720px;
  margin-inline: auto;
}

/* Per vedere le stelle in azzurro */
.selected-stars {
  filter: none;
}

#img-stelle {
  margin-top: 40px;
  margin-bottom: 70px;
}

#feedback #img-stelle>img.selected-stars {
  filter: none;

}

#feedback #img-stelle img.clicked-star {
  filter: drop-shadow(0 0 10px white);
}

#img-stelle img:not(:last-child) {
  padding-right: 20px;
}

#feedback form {
  margin-top: 50px;
  max-width: 770px;
  margin-inline: auto;
  background-color: transparent;
}

#feedback form input {
  all: unset;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #c2128d;
  padding: 0 0 10px 25px;
  font-size: 21px;
}

#feedback form button {
  text-align: center;
  float: unset;
  margin-top: 65px;
  color: black;
}

/* ----------------------------------- FINE FEEDBACK STYLE -----------------------------------  */

/* commento */